# Foundry
**/out/
**/cache/
**/broadcast/
**/lib/

# Env
**/.env
**/.env.local
**/.env.*.local

# Node
**/node_modules/
**/.next/
**/*.tsbuildinfo
**/next-env.d.ts.bak

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
