# Copiar a .env y completar.

SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ETHERSCAN_API_KEY=poner_aca_tu_api_key_de_etherscan
USDC_SEPOLIA=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
TREASURY=0xtu_address_de_metamask
DEPLOYER=0xtu_address_de_metamask

# Personalizar por equipo:
BADGE_NAME=VibeCheck Pieces
BADGE_SYMBOL=VIBE-P
